<section class="quem">
<h1>Quem Somos?</h1>

<div class="somos">

    <p>Tatá Recreação Infantil, é uma empresa prestadora de serviços artísticos voltados para o público infantil. Com anos de experiência, atendemos pessoas físicas, buffets, escolas, hospitais, agências, lojas e festas corporativas. Oferecemos entretenimento completo para festas e eventos infantis, incluindo recreação, personagens vivos, maquiagem artística, escultura com balões e muito mais. Além disso, realizamos eventos temáticos, como Natal, Páscoa e Dia das Crianças. Conte com a Tatá Recreação Infantil para trazer muita alegria e diversão à sua festa!</p>
    
    <app-animation-quem></app-animation-quem>
</div>

</section>