<section>
    <h1>Nossos Serviços</h1>

    


    <h2>
      Brincadeiras
    </h2>
    <div class="brincadeiras">
        <p>Com o perfil das brincadeiras tradicionais da infância, nossas atividades são planejadas para atender a faixa etária de cada grupo.</p>

        <div id="carouselExampleIndicators" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/WhatsApp Image 2024-04-08 at 14.55.22 (3).jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/img/criancas-pulando.jpeg" class="d-block w-100" alt="...">
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>

    <h2>
      Oficinas
    </h2>
    <div class="oficinas">
        <p>As oficinas são atividades manuais realizadas pelas próprias crianças com o auxílio dos recreadores.</p>
      <div id="carouselExampleIndicators2" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/WhatsApp Image 2024-04-08 at 14.55.22.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/img/ofinina.jpeg" class="d-block w-100" alt="...">
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    
    <h2>
      Torneio de futebol
    </h2>
    <div class="torneio">
        <p>Para festas onde o futebol é a principal atração! Nosso torneio conta com medalhas e até troféu!</p>
        <div id="carouselExampleIndicators3" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
            
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/futebol.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/img/futebol2.jpeg" class="d-block w-100" alt="...">
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    
    <h2>
      Camarim Sashion
    </h2>
    <div class="camarim">
        <p>Penteados, maquiagem, e spray colorido nos cabelos, são algumas das opções que compõem o camarim Fashion.</p>
        <div id="carouselExampleIndicators4" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="1" aria-label="Slide 2"></button>
            
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/fashion.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/img/fashion2.jpeg" class="d-block w-100" alt="...">
            </div>
           
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    
    <h2>
      Espaço Baby
    </h2>
    <div class="baby">
        <p>Um espaço pensado para crianças de até 3 anos, com monitoria especializada e atividades que vão estimular e entreter os pequenos.</p>
        <div id="carouselExampleIndicators5" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/baby.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/img/WhatsApp Image 2024-05-30 at 20.42.48 (3).jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/img/WhatsApp Image 2024-05-30 at 20.42.48 (1).jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    
    <h2>
      Torta na Cara
    </h2>
    <div class="torta">
        <p>Uma máquina com luzes e som, tortas de chantilly de verdade e muita diversão,  fazem parte dessa atividade que tem sucesso garantido!</p>
        <div id="carouselExampleIndicators6" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            
          
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/torta.jpeg" class="d-block w-100" alt="...">
            </div>
           
          </div>
         
        </div>
    </div>
    
    <h2>
      Baladinha Animada
    </h2>
    <div class="baladinha">
        <p>Um espaço com iluminação, som, máquina de fumaça, e pista de dança e uma equipe de recreadores super animada vão completar a sua baladinha kids!</p>
        <div id="carouselExampleIndicators7" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            
           
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/criancas-pulando.jpeg" class="d-block w-100" alt="...">
            </div>
            
          </div>
          
        </div>
    </div>
    
    <h2>
      Pintura Facial
    </h2>
    <div class="pintura">
        <p>Com a pintura facial, as crianças podem ser o que quiserem, a imaginação cria vida e sua festa fica completa!</p>
        <div id="carouselExampleIndicators8" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="1" aria-label="Slide 2"></button>
           
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/pintura.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/img/pintura2.jpeg" class="d-block w-100" alt="...">
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    
    <h2>
      Escultora em balão
    </h2>
    <div class="balao">
        <p>As esculturas em balão são um item essencial para uma festa completa e muito mais colorida!</p>
        <div id="carouselExampleIndicators9" class="carousel slide tamanho_img">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            
            
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/img/WhatsApp Image 2024-06-05 at 00.45.29.jpeg" class="d-block w-100" alt="...">
            </div>
            
          </div>
        
        </div>
    </div>
</section>