<section>
    <h1>Onde Atuamos </h1>
    <ul>
        <li>
            <img class="logo" src="../../../../assets/img/Logo-tata.png" alt="">
            <p>Eventos Infantis</p>
        </li>
        <li>
            <img class="logo" src="../../../../assets/img/Logo-tata.png" alt="">
            <p>Casamentos</p>
        </li>
        <li>
            <img class="logo" src="../../../../assets/img/Logo-tata.png" alt="">
            <p>Eventos Corporativos</p>
        </li>
        <li>
            <img class="logo" src="../../../../assets/img/Logo-tata.png" alt="">
            <p>Confraternizações</p>
        </li>
    </ul>
</section>