<section id="sobre">
    <h1>Sobre nós</h1>

    <div class="donos">

        <h2>Tia Tatá</h2>
        <article class="tata">
            <div class="content">
                <img src="../../../../assets/img/tia-tata.jpeg" alt="">
                <p>Olá me chamo Taynara mais conhecida como Tia Tatá, tenho 30 anos, sou cristã, sou mãe de 2 filhas maravilhosas a Analu e a Julinha, adoro pizza e também sou Professora, Gosto muito das minhas plantinhas e também de viajar, e gosto muito de trocar meu cabelo, troco toda hora...  </p>
            </div>
        </article>

        <br>

        <h2>Tio Barba</h2>
        <article class="barba">
            <div class="content">
                <img src="../../../../assets/img/tio-barba.jpeg" alt="">
                <p>Olá me chamo Gerson mais conhecido como Tio Barba, tenho 30 anos, sou cristão, sou pai de 2 princesas a Analu e a Julinha, amo tocar violão, sou formado em Educação Física e gosto muito de academia, sou CORINTHIANO Roxo e minha bebida favorita é o Café S2</p>
            </div>
        </article>

    </div>
</section>