<section>
    <h1>Dizem Por Ai...</h1>
    <div class="depoimentos">
        
      <div id="carouselExampleAutoplaying" class="carousel slide tamanho_img" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/img/depoimento1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/img/depoimento2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/img/depoimento5.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/img/depoimento3.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/img/depoimento4.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</section>