<section>

    <h1>Contato</h1>
    
    <ul>
        <div class="link">
            <li class="redes">
                <a href="mailto:tiatatarecreacaoinfantil@outlook.com 
                " target="_blank">
                    <img src="../../../assets/img/email-logo-png-1125.png" alt="E-mail">
                    E-mail</a>
            </li>
            <li class="redes">
                <a href="https://www.facebook.com/tiatatarecreadora" target="_blank">
                    <img src="../../../assets/img/logo-do-facebook.png" alt="Facebook">
                    Facebook</a>
            </li>
            <li class="redes">
                <a href="https://www.instagram.com/tatarecreacaoeeventos?igsh=ZXEwY3FldnZ5Z3Ax" target="_blank">
                    <img src="../../../assets/img/instagram (1).png" alt="Instagram">
                    Instagram</a>
            </li>
            <li class="redes">
                <a href="https://wa.me//5511943179194?text= Olá tudo bem? Poderia me falar mais sobre?" target="_blank">
                    <img src="../../../assets/img/whatsapp.png" alt="whats">
                    Quero fazer um orçamento</a>
            </li>
        </div>
    </ul>

</section>