<footer class="main_footer container">
    
    <div class="content">

        <div class="colfooter">
            
            <h3 class="titleFooter"> Menu</h3>
            
            <ul>
            
              <li><a href="#nav" title="Página Inícial">Início</a></li>
              <li><a href="#quem" title="Sobre a Empresa">Quem Somos</a></li>
              <li><a href="#brincadeiras" title="Galeria de Fotos">Brincadeiras</a></li>
              <li><a href="#contato" title="Fale Conosco">Fale Conosco</a></li>
            
            </ul>

        </div><!--Col Footer 1-->        

        <div class="colfooter">
           
           <h3 class="titleFooter"> Contato</h3>
           <!--<p><i class="icon icon-mail"></i> </p>-->
           <p><i class="icon icon-phone"><img class="whats" src="../../../assets/img/pngegg.png" alt=""></i> 11 94317-9194</p>
           

        </div><!--Col Footer 2-->

        <div class="colfooter">
           
           <h3 class="titleFooter"> Redes Sociais</h3>
            
           <a href="https://www.facebook.com/tiatatarecreadora" target="_blank" class="botao"><span> <i class="icon icon-facebook"><img class="img" src="../../../assets/img/logo-do-facebook.png" alt=""></i> </span></a>            
           <a href="https://www.instagram.com/tatarecreacaoeeventos?igsh=ZXEwY3FldnZ5Z3Ax" target="_blank" class="botao"><span> <i class="icon icon-instagram"><img class="img" src="../../../assets/img/pngegg2.png" alt=""></i> </span></a>            
           <a href="https://wa.me//5511943179194?text= Olá tudo bem? Poderia me falar mais sobre?" target="_blank" class="botao"><span> <i class="icon icon-twitter"><img class="img" src="../../../assets/img/pngegg3.png" alt=""></i> </span></a>            
              

        </div><!--Col Footer 3-->


        <div class="clear"></div>
    
    </div><!--Contant-->

    <div class="main_footer_copy">
        
        <p class="m-b-footer"> &copy; Tatá Recreação - 2024, todos os direitos reservados.</p> 
        <p class="by"><i class="icon icon-heart-3"></i> Desenvolvido por: <a href="https://www.linkedin.com/in/bruno-rodrigues-silva-lk/" target="_blank" title="Seu nome">Bruno Rodrigues</a></p>
    
    </div>

</footer>